name = "cloudflare-cms"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "cms-db"
database_id = "d147ff80-967a-4f76-9191-b8e304cce591" # replaced on 2025-01-03
migrations_dir = "migrations/sql"

[[r2_buckets]]
binding = "MEDIA_BUCKET"
bucket_name = "cms-media"
preview_bucket_name = "cms-media-dev"

[[durable_objects.bindings]]
name = "WEBSOCKET_HANDLER"
class_name = "WebSocketHandler"

[[migrations]]
tag = "v1"
new_classes = ["WebSocketHandler"]

[vars]
ENVIRONMENT = "development" 

# For development only - use wrangler secret for production
JWT_SECRET = "d2a0c6a77dfc871cb6f5f584a456564cf07c7b21843680a15b7b50ed6ab92a48"
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "password"